@import url(assents/css/reset.css);
@import url(assents/css/componentes/botao.css);
@import url(assents/css/componentes/conteiner.css);
@import url(assents/css/componentes/titulo.css);
@import url(assents/css/componentes/input.css);
@import url(assents/css/cabecalho.css);
@import url(assents/css/componentes/cartao.css);
@import url(assents/css/componentes/video.css);
@import url(assents/css/rodape.css);
@import url(assents/css/principal.css);
@import url(assents/css/chamada.css);
@import url(assents/css/como--conseguir.css);
@import url(assents/css/nossos--produtos.css);
@import url(assents/css/nossos-videos.css);
@import url(assents/css/produto--detalhes.css);

:root {
    --preto-botao: #202020; 
    --cinza: #909090;
    --amarelo: #FFCB47;
    --amarelo-transparente: #FFCB473D;
    --preto-transparente: #0000000F;

    --titulo-preto: 'Elsie Swash Caps';
    --titulo-cinza: 'Montserrat';

    --peso-font-titulo: 900;
    --peso-fonte-botao:700; 
    
    
}
body {
    font-size: 16px;
    font-family: var(--titulo-cinza);
    color: var(--cinza);
    font-weight: 400;
    background-image: url(assents/img/Linhas.svg);
    background-size: 100vw;
    background-color: rgba(0, 0, 0, 0.03);
    
    
}

@media screen and (min-width:900px) {
    .background-vector {
        background-image: none;
    }
   

    .background-vector-desktop{
        background-image: url(assents/icons/Vector_desktop.svg);
        background-size: 800px;
        background-repeat: no-repeat;
        background-position: right 10px;
    }
}
