.como--conseguir {
    margin-top: 2rem;
    background-color: white;
    box-shadow: 10px 10px 30px var(--preto-transparente);
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.como--conseguir a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    align-items: center;
    padding-left: 2em;
    font-size: 16px;
    color: var(--cinza);
    
}