.nossos--videos {
    margin-top: 3rem;
}
.modelo1 {
    background-image: url("../../assents/img/Mask\ Group-1.png");
    
}
.modelo2 {
    background-image: url("../img/Mask\ Group-2.png");
}

.modelo3 {
    background-image: url("../img/Mask\ Group-3.png");
}

.modelo4 {
    background-image: url("../img/Mask\ Group-4.png");
}
