.cartao {
    margin-top: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 55vw;
    box-shadow: 10px 10px 30px var(--preto-transparente);
    background-color: white;
    overflow: hidden;

}

.cartao__informacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
}

.link--compra {
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--amarelo);
    
}
.cartao__img {
    overflow: hidden;
    width: 90%;
}